<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <a href="/student" class="btn btn-primary py-2 px-3 ">Back</a>
            <br>
            <br>
            <div class="card shadow px-3 py-4 show-card">
                <div class="card-body">
                    <div class="card-body__image">
                        <img src="/image/<%= student.photo %>" alt="image">
                    </div><!-- /.card-body__image -->
                    <div class="card-body__content">
                        <div class="author__name"><span>name : </span> <%= student.name %></div><!-- /.author__name -->
                        <div class="author__email"><span>email : </span> <a href="mailto:<%= student.email %>"><%= student.email %></a></div><!-- /.author__email -->
                        <div class="author__call"><span>phone : </span> <a href="tel:<%= student.phone %>"><%= student.phone %></a></div><!-- /.author__call -->
                        <div class="author__location"><span>location : </span> <%= student.location %></div><!-- /.author__location -->
                    </div><!-- /.card-body__content -->
                </div><!-- /.card-body --> 
            </div><!-- /.card -->
        </div>
    </div>
</div>